
header{
    position: relative;
    top: 0;
    width:100%;
    color: whitesmoke;
    background:#333;
    height: 200px;
    padding:0;
    right: 0px;
    left: 0px;
}
span{
    font-size:3em;
    font-weight:bold;
}
form{
    float: right;
    margin-right:0px;
    letter-spacing: 1px;
    font-size:17px;
    height: 60px;
}
#textbox,input[type=password],.submithead{
padding:5px;
font-size:15px;
font-family: Arial, Helvetica, sans-serif;
margin:1px;

}
#submithead{
background:red;
color:black;
padding: 5px 15px;
border-radius: 5px 5px 5px 5px;
font-weight:bold;
}
#submithead:hover{
    background-color: orange
}

.tablinks{
float: left;
background:red;
border: none;
color:black;
padding: 5px 15px;
font-weight:bold;
font-size:17px;
width: 150px;
height: 60px;
}
.tablinks:hover{
    background-color: orange
}
.tablinks:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:150px ;
    margin-top:60px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  #linkhead{
      color:black;
  }
  