

head
{
    text-align: center;
    width:100%;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 5px;
    height: 100px;
    background-color: cornflowerblue;
}


html
{
    background-color: white;
}


nav {
    text-align: left;
    background-color: cornflowerblue;
}
nav a, nav span{
    color:black;
    text-decoration: none;
    transition:color linear 0.2s;
}

#headertitle {
    font-size: 70px;
    color: white;
    text-decoration:none;
}

.menuCategory {
    display: inline-block;
    position:relative;
    padding:5px 10px;

}

.withSeveralLinks {
    display: none; 
    position:absolute;   
    left:-0px;
    top:100%;
    background-color: cornflowerblue;
    padding:5px 10px;
}

.tablinks {
    background-color: orange; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }