#body1
{
<<<<<<< HEAD
    background-color: rgb(68, 63, 63);
}

#table1
{
    border: medium solid #000000;
    background-color: rgb(247, 176, 176);
}

td
{
    border: medium solid #000000;
    background-color: whitesmoke;
=======
    background-color: #333;
    position: relative;
}

.tableProducts
{
    background-color: white;
>>>>>>> mock_up
}