#body1
{
    margin: 0;
    padding: 0;
    background-color: #333;
    position: relative;

    font-size: 16px;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.tableProducts
{
    background-color: white;
    background-color: rgb(68, 63, 63);
}

#table1
{
    border: medium solid #000000;
    background-color: rgb(247, 176, 176);
}

#tableau
{
    border: medium solid #000000;
    background-color: whitesmoke;
}