body
{
    margin: 0;
    padding: 0;
    background: #efefef;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    
}

.search {
  width: 100%;
  position: relative;
  
}


#search_box {
  width: 50%;
  border: 3px solid #00B4CC;
  border-right: none;
  border-left: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

#search_box:focus{
  color: #00B4CC;
}

#searchButton {
  width: 10%;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#category-select{
    width: 10%;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

  

